name: Base Image Release Build

# Any change in triggers needs to be reflected in the concurrency group.
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - images/runtime/**
      - images/builder/**

permissions:
  # To be able to access the repository with `actions/checkout`
  contents: read

jobs:
  build-and-push:
    timeout-minutes: 45
    environment: release-base-images
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Update Runtime Image
        run: |
          images/runtime/update-cilium-runtime-image.sh "sasa"
